/* 
 *title:Basic structure of a page 
 *authur:Eraj Alakus
 *Date:2022-03-16


*/

/*******************general styling ************/




@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
margin: 0;
font-family: Anton;
background: radial-gradient(circle, rgba(199,211,219,1) 0%, rgba(16,135,213,1) 17%, rgba(40,125,193,1) 900991%);

}


/* Navigation */
nav{
background-color: green;
padding: 30px; /* We need flexbox because we want space betwen the img to the list */
display: flex;
justify-content: space-between;
align-items: center;
}



nav img{
height: 70px;
width: 140px;
border-radius: 50%;
}



nav ul{
display: flex; 
justify-content: flex-end;
align-items: center;
list-style-type:none;
}
nav ul li a{
margin: 30px;
padding:20px;
text-decoration: none;
color: #003399;
background-color:#ffcc00;
border-radius: 10px;
}



nav ul li a:hover{
background-color: red;
}


header{
height: 400px;
display: flex;
justify-content: center;
align-items: center;
background-image: url(orangegradient.jpg);
background-position: center;
background-size: cover;
font-family: Eagle Lake;
}



header h1{
font-size: 30px;
background-color: yellow;
padding: 20px;
color:darkorange;
border-radius: 200px;
}
/*Footer*/
footer{
display: flex;
justify-content: space-evenly;
align-items: center;
padding: 30px;
background-color: orange;
border-radius: 25px;
font-family: Eagle Lake;
color: yellow;
}

main {
  padding: 800px;
  background: linear-gradient(223deg,rgba(92,100,200))

}
main h2 {
   font-size: 20px;
   color: darkblue;

}