@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

h2{
   font-size: 25px;
   padding: 30px;
   background-color: lightgreen;
   display: inline-block;
   font-family: "Quintessential" ;


}
.green{
       background-color: green;
       font-size: 30px;

}
p{
	font-family: "Quintessential" ;

}
a{
  display: block;
  padding: 30px;
  margin: 10px;
  font-size: 30px;
  border: 3px solid blue;
  background-color: lightblue;
  

}

.blue{
      background-color: blue;
       font-size: 30px;


}
.red{
 background-color: red;
       font-size: 30px;
}
.orange{
	background-color: orange;
       font-size: 30px;
	
}
body{
    background-color: purple;
    background: radial-gradient(circle, rgba(0,0,0,1) 3%, rgba(255,255,255,1) 10%, rgba(162,14,210,1) 29%, rgba(14,210,178,1) 46%);
}
img{
    width: 200px;
    height:115px;
    border: solid indigo;
}


